body {
    margin: 0;

}

h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

h1 span {
    color: rgb(249, 41, 4);
}

p {
    color: #828282;
    padding-bottom: 50px;
}

.center {
    margin-top: 100px;
}

.eat-fresh {
    display: flex;
    height: 500px;
    padding-bottom: 150px;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.btn {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    padding: 24px 32px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

h2 {
    color: #707070;
    font-weight: 700;
    font-size: 40px;
}

#para-color {
    color: #18191F;
    font-weight: 100;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.half-width p {
    width: 80%;
}

#container {
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
}

h3 {
    color: #707070;
    font-weight: 700;

}

.alignment {
    text-align: center;
}

#para-alignment {
    color: #18191F;
    font-weight: 100;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.div-flex {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.div-flex img {
    width: 100%;
    height: 60%;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

.social-media {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    padding: 16px 260px;
    gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.gapping {
    padding-left: 40px;
}