*{
    margin: 0px;
    top: 0px;
    font-weight: 460;
    /* background-color: whitesmoke; */
    letter-spacing: -.022em;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(0,0,0,0.8);
    color: grey;
    padding: 10px;
    font-size: 15px;
    
    }
a {
   text-decoration: none;
color: lightgrey;
   
}
a:hover{
color: white;
}
.logo
{
    margin-left: 10vw;
}
.lftmrgn{
    margin-right: 5vw;
}
.itms{
    display: none;
}
@media (max-width: 1150px)
{
     #non{
        display: none;
    } 
    .logo{
      margin-left: 0vw;
    }
    .itms{
        display: block;
        margin-left: 5vw;
    }

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
h1{
    margin-top: 10vh;
    font-size: 9vh;
}
a#blue{
    text-decoration: none;
    color:#2997ff;
    font-size: 4vh;
}
a#blue:hover{
    text-decoration: underline;
}
a#blue1{
    text-decoration: none;
    color: #06c;
    font-size: 4vh;
}
img{
    width: 50%;
    /* margin-left: 20%; */
}
@media all and (max-width: 1400px){
    img{
        width: 65%;
        margin-left: 0%;
    }
}

.container1{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
}
.container2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10vh;
    margin-left: 0vw;
    padding-bottom: 20px;
    background-color: #fdfdfd;
}
.img2{
    width: 40%; padding-top: 8vh;padding-bottom: 8vh;padding-left: 9vw; height: 80vh;
}
@media (max-width: 1200px)
{
    .container2{
        flex-direction: column-reverse;
        margin-top: 0;
        /* justify-content: space-between; */
    }
    .img2{
        padding-top: 0%;
        padding-bottom: 2vh;
        height: 60vh;
    }
    
}
.container3{
    background-image: url(back2.jpg);
    width: 47vw;
    background-repeat: no-repeat;
    height: 120vh;
    background-size: 116% 100%;
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
    /* align-items: center; */
    color: white;
    background-position: center;
}

.container4{
    background-image: url("remote.jpg");
    width: 47vw;
    background-repeat: no-repeat;
    /* background-color: whitesmoke; */
    height: 120vh;
    background-position: bottom;
    background-size: 90% 60%;
    /* background-color: white; */
    display: flex;
justify-content: center;
/* border-style: solid; */
/* border-color:  whitesmoke; */
/* margin-right: 0%; */
margin-left: 1.5vw;
margin-right: 1.5vw;

}
.flex
{
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}
@media (max-width: 1000px)
{
    .flex{
        flex-direction: column;
    }
    .container3{
        width: 100vw;
    }
    .container4{
        width: 100vw;
        height: 100vh;
        background-size: 90% 40%;
    }
}
.inl{
    display: flex;
    flex-direction: row;
}
.links{
    display: flex;
    align-items: center;
justify-content: center;
}
.container5{
    background-image: url("back5.jpg");
    width: 47vw;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
display: flex;
justify-content: center;
margin-left: 1.5vw;
/* align-items: center; */
/* color: white; */
}
.container6{
    background-image: url("back6.jpg");
    width: 47vw;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: bottom;
    background-size: 100% 100%;
    display: flex;
justify-content: center;
color: white;
margin-right: 1.0vw;
/* margin-left: 1.5vw; */
}

@media (max-width: 1000px)
{
    .container5{
        width: 100vw;
        height: 80vh;
    }
    .container6{
        width: 100vw;
        height: 90vh;
        
    background-size: 100% 80%;
    }
}

.container7{
    background-image: url("back7.jpg");
    width: 47vw;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 110%;
display: flex;
justify-content: center;
margin-left: 1.5vw;
color: white;
}
.container8{

    width: 47vw;
    height: 100vh;
    background-color: white;
    display: flex;
justify-content: center;
align-items: center;
margin-right: 1.5vw;
}
@media (max-width: 1000px)
{
    
    .container7{
        width: 100vw;
        height: 90vh;
        background-size: 100% 130%;
    }
    .container8{
        width: 100vw;
        height: 100vh;
    }
}

 .foot{
    margin-top: 1.5vw;
    background-color: #f5f5f7; 
    color: #6e6e73;
    width: 100%;
  
} 
 #foot{
    color: rgb(110, 105, 105);
}
a#foot:hover{
    text-decoration: underline;
}

ul li{
    list-style: none;
    margin: 1em 0;
} 
/* .list1{
    margin-left: 0%;
}*/
.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  
.content{
    margin: 10vh 10vw;
    /* font-size: 40px; */
}

.hidden{
    display: none;
}
@media (max-width: 1000px) {
    .lists{
        display: none;
    }
    .hidden{
        display: block;
    }
}
